*{
   margin: none;
   padding: none;
    border: 1px solid rgb(255, 0, 0);
}
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
   

}
header{
    height: 100%;
    width: 100vh;
    position: relative;
    object-fit: cover;
}
.header-image{
    position: absolute;
    top: -5vh;
    z-index: -1;
    background-position: center center;
    }
.head{
    display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 5vh;
   margin-left: 20vh;
   align-items: center;
}
.logo{
    width: 30vh;
    position: relative;
    left: 120px;
}
.head h1{
    font-size: 3.1rem;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    align-items: center;
    text-align: center;
    left: 120px;
}
.pesquisa{
position: relative;
left: 290px;
top: 30px;
width: 30vw;
height: 2vw;
align-items: center;
justify-content: space-between;
border-radius: 20px;
background-color: white;
padding: 5px 0;
text-align: center;

}
.pesquisa input{
    outline: none;
    border: none;
    width: 50%;
    padding-left:auto;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: light;   
}
input{
    text-align: center;
   margin-top: 3px;
   margin-bottom: 3px;
}
.pesquisa i:first-child{
    position: relative;
    font-size: 20px;
    color:rgb(73, 73, 73);
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right:  10px;
    text-align: left;
    margin: 1px;
}
.pesquisa i:last-child{
    position:relative;
    left: 29px;
    font-size: 20px;
    color:rgb(73, 73, 73);
    text-align: center;
    padding: 5px 2.5px;
}
a{
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(235, 23, 0);
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
    margin: 15px;
    text-decoration: none;
}
section{
    position: absolute;
    top: 650px;
    left: 200px;

}
.box-1 h2{
    margin-right: 20px;
    display: inline;
    display: flex;
    flex-direction: row;
    text-align: left;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    position: relative;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    left: 200px;
   bottom: 250px;
   text-align: center;
   align-items: center
   text;align-self: start;
}
section button{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    position: absolute;
    bottom: 200px;

}
.box-3{
    display: inline-block;
}
h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    position: relative;
    bottom: 120px;
    left: 200px;
    font-size: 20px;
}
.spana{
    position: relative;
    display: inline-block;
    width: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;    
}
.svg1{
    position: relative;
    bottom: -107px;
    
}
.svg2{
  position: relative;  
  left: 400px;
  bottom: 524px;
}
.svg3{
    width: 156px;
    height: 156px;
    position: relative;
    left: 761px;
    bottom: 1181px;
}
.primeiro{
    position: relative;
    left: -17px;
    bottom: 50px;
}
.segundo{
    position: relative;
    bottom: 690px;
    left: 382px;
}
.terceiro{
    position: relative;
    left: 748px;
    bottom: 1338px
}
.hprimeiro{
    position: relative;
    left: -12px;
    bottom: -92px;
}
.hsegundo{
    position: relative;
    bottom: 548px;
    left: 381px;
}
.hterceiro{
    position: relative;
    left: 748px;
    bottom: 1190px;
}
.link-a{
    position: relative;
    left: -10px;
    bottom: 176px;
}
.link-b{
    position: relative;
    left: 383px;
    bottom: 817px;
}
.box-1{
    position: relative;
    bottom: 216px;
}
.box-2{
    position: relative;
    bottom: 216px;
}
.box-3{
    position: relative;
    bottom: 216px;
}
.link-c{
    position: relative;
    left: 752px;
    bottom: 1461px;
}#i1{
    position: relative;
    left: 100px;
    bottom: 207px;
    color: red;
}
#i2{
    position: relative;
    left: 518px;
    bottom: 848px;
    color: red;
}
#i3{
    position: relative;
    left: 852px;
    bottom: 1494px;
    color: red;
}
.btn-2{
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    position: relative;
    bottom: -350px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    padding: 3px;
   
}
#h1d{
    position: relative;
    bottom: -400px;
    font-size: 30px;
}
.p1d{
    position: relative;
    bottom: -400px;
    

}
.primeiro1{
    position:relative;
    bottom: -395px;
    left: -400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 20px;
    display: block;
    font-size: 15px;
}
.immg-1{
    position: relative;
    width: 70%;
    left:  400px;
}
.immg-2{
    position:relative;
    right: 168px;
    width: 60%;
    top: -236px;
}
.btn-3{
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    position: relative;
    bottom: -35px;
    left: 475px;
    width: 150px;
    height: 25px;
    border-radius: 30px;
    align-items: center;
    padding: 3px;
}
.primeiro2{
    position:relative;
    left: 474px;
    top: 30px;
    width: 50%;
}
#h2d{
position: relative;
left: 500px;
width: 300px;
font-size: 30px;
text-align: center;
}










